* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background: #f4f4f4;
}

/*Global styles*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.button_1 {
  height: 25px;
  width: 110 px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  color: #cccccc;
  background: #e8491d;
}

.dark {
  padding: 15px;
  background: #35424a;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Header*/
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
  margin-bottom: 5px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
  text-transform: lowercase;
}

/*showcase*/

#showcase {
  min-height: 400px;
  background: url(../images/boss.jpeg) no-repeat center -100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #35424a;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 21px;
}
/*newsletter styling */
#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #35424a;
  /* margin: 1px 0 1px 0; */
  /* border-top: 2px solid #e8491d;
  border-bottom: 2px solid #e8491d; */
}

#newsletter h1 {
  float: left;
  margin-top: 5px;
}

#newsletter form {
  float: right;
  margin-top: 10px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/*Boxes styles*/

#boxes {
  margin-top: 20px;
  margin-bottom: 20px;
}

#boxes .box {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 10px;
}

#boxes .box img {
  width: 150px;
}

/*sidebar styling*/
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/*main-col styling*/
article#main-col {
  float: left;
  width: 65%;
  margin-top: 10px;
}

/*Services styling*/
ul#services li {
  list-style: none;
  padding: 20px;
  border: 1px solid #cccccc;
  margin-top: 5px;
  background: #e6e6e6;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #cccccc;
  background-color: #e8491d;
  text-align: center;
}

/*Media Queries */

@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 40px;
  }
  #showcase {
    min-height: 100%;
    background: url(../images/boss.jpeg) no-repeat cover -90px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #35424a;
  }

  #newsletter button,
  .quote button {
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
  }
} ;
